@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Protest Riot", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: url("/aa.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page {
  animation: fadeIn 0.6s ease forwards;
}

.fade-out {
  animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
